@import "~bootstrap/scss/bootstrap";
body{
	font-family: Arial, sans-serif;
	background: #242F39;
	margin:0;
	overflow: visible!important; 
     position: relative!important;
}

.progress{
	margin-top: 5px;
	height:4px;
}
.progress-bar{
	background-color: rgb(102, 189, 101);
}
.an-enter {
	opacity: 0;
	transform: scale(0.9);
  }
  .an-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
  }
  .an-exit {
	opacity: 1;
  }
  .an-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
  }