
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	.shell{
		display: flex;
		align-items: center;
	}
	.logo{
		background: #ED3B1C;
		color: white;
		display: inline-block;
		font-size:20px;
		text-transform: uppercase;
		padding:6px 8px;
		margin-right: 8px;
	}
}
