.main{
	color:white;
	.zag{
		margin-top: 20px;
		background: #2E3740;
		padding:8px 0px 8px 8px;
	h1{
		color: white;
		font-size: 24px;
		margin:0;
	}
	span{
		display: block;
    color: #C4C4C4;
   
    font-size: 14px;
	}
	}
	.title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:30px 0;
		.params{
			display: flex;
			.star{
				display: inline-block;
				margin-right: 4px;
				padding: 2px 3px;
				background: rgba(169,207,84,0.7);
				
			}
			.item{
				color:white;
				text-transform: uppercase;
				&:first-child{
					margin-right: 8px;
					.star{
						background-color: rgba(234,3,14,0.7);
					}
				}
				svg{
					width:12px;
					height: 12px;
					path{
						fill:white;
					}
				}
			}
		}
	}
	.hero{
		position: relative;
		display: inline-block;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%);
		.name{
			position: absolute;
			bottom:0;
			left:0;
		}
	}
}