.main{
	display: flex;
	flex-wrap: wrap;
justify-content: center;
	.item{
		position: relative;
		max-width:147px;
		max-height: 82px;
		min-height: 82px;
		width:100%;
		height: 100%;
		cursor: pointer;
		svg {
			
			max-width: 13px;
			max-height: 13px;
		}
		&:hover{
			.mask{
				opacity:0;
			}
		}
	
		& img{
			width:100%;
			height: 100%;
			max-width: 147px;
			min-width:147px;
			object-fit: contain;
		}
		& span{
			position: absolute;
			bottom: 6px;
			left: 6px;
			color: white;
    text-shadow: 0px 0px 2px #0a0a0a !important;
    z-index: 100;
    font-size: 13px;
		}
		.mask{
			transition: all .3s ease-in-out;
			position: absolute;
			width:100%;
			height: 101%;
			left:0;
			opacity: 1;
			top:0;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%);
			z-index: 2;
		}
		.tags{
			display: flex;
			position: absolute;
			right:0;
			top:0;
			align-items: center;
			svg{
				path {
					fill:white;
				}
			}
			.pick{
				background-color:rgba(234, 3, 14, 0.7);;
				
			}
			.win{
				background-color: rgba(169, 207, 84, 0.7);
				margin-left: 5px;
			}
		}
	}
}