.wrapper{
	.top{
	    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: relative;
    border-radius: 8px;
	padding:56px;
	.img{
		position: absolute;
		width:125%;
		left:0;
		top:0;
	
		filter: blur(25px);
		opacity:0.35;
		object-fit: cover;
		height:125%;
		}
	}
	.shell{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.left{
		display: flex;
		align-items: center;
		width:100%;
		.logo{
			max-height: 128px;
			width:100%;
			height: 100%;
			max-width: 180px;
			border-radius: 16px;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 32px;
			margin-right: 24px;

		}
		.desc{
			.name{
				font-size:28px;
				line-height: 28px;
				font-weight: 500;
				color: rgba(255, 255, 255, 0.87);
				margin-bottom: 8px;
			}
			.range{
				color: rgba(255, 255, 255, 0.87);
			}
			span{
				font-size:10px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			.role{
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
	.right{
		width:100%;
		display: flex;
		flex-direction: column;
		.attr{
			background: rgba(0, 0, 0, 0.45);
			border-radius: 8px;
			margin: auto;
			max-width: 300px;
			
			padding: 12px;
			display: flex;
			justify-content: center;
		}
		.attrItem{
			display: flex;
			align-items: center;
			
			padding: 0  16px;  
			.str{
				position: relative;
				
				
			}
				.before{
					margin-right: 8px;
					height:8px;
					width:8px;
					border-radius: 50%;
				}
			.red{
				background: rgb(244, 67, 54);
			}
			.green{
				background: rgb(57, 212, 2);
			}
			.blue{
				background: rgb(1, 169, 244);
			}
			span{
				font-size: 12px;
    font-weight: 600;
    line-height: 1;
	color: rgba(255, 255, 255, 0.87);
			}
		}
	}
	// :global{
	// 	.back{
	// 		background: rgba(0, 0, 0, 0.15)!important;
	// 	}
	// }
	.more{
		.show{
			transition: all .3s ease-in-out;
		display: block;
		margin:8px auto;
			text-align: center;
			cursor: pointer;
			padding:8px 12px;
			border: 1px solid rgba(0, 0, 0, 0.35);
			color:rgba(255, 255, 255, 0.87);
			max-width: 195px;
			background-color: transparent;
			&:hover{
				background-color: rgba(153, 153, 153, 0.593);
			}
		}
		.full{
			display: flex;
			align-items: flex-start;
			.fullItem{
				width:100%;
				display: flex;
				flex-direction: column;
				margin-top: 10px;
    			padding: 8px;
				max-width: 304px;
				.rowItem{
					background: rgba(0, 0, 0, 0.05);
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding:8px;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					color: rgba(255, 255, 255, 0.5);
					
					.num{
						color: rgba(255, 255, 255, 0.87);
					}
				}
				.back{
					background: rgba(0, 0, 0, 0.15)!important;
				}
			}
		}
	}
}
