.wrapper{
	margin-top: 30px;
}
.list{
	display: flex;
	align-items: center;
	justify-content: center;
	li{
		list-style: none;
	}
	.item{
		list-style: none;
		color: rgb(102, 187, 255) ;
		
		display: inline-flex;
		padding: 10px 15px;
		border-radius: 100%;
		
		cursor: pointer;
		// border: 1px solid rgb(102, 187, 255);
		// background-color: white;
		transition: all 0.3s ease-in-out;
		&:not(:last-child){
			margin-right: 10px;
		}

	}
	.active{
		// background-color: rgb(102, 187, 255) ;
		color:white;
	}
}