.wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.item{
		padding:5px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.title{
		
		font-size: 12px;
    letter-spacing: 1px;
    margin: 24px 0px;
    text-align: right;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
    text-transform: uppercase;
	color: rgba(255, 255, 255, 0.87);
	}
}