.tabsComponents{
	
   
}
.tabsList{
	display: flex;
justify-content: center;
	background-color: rgba(14, 84, 113, 0.37);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    padding-top: 25px;
	// & li{
	// 	&:not(:last-child){
	// 		padding-right: 30px;
	// 	}
	// }
	& span{
	font-size: 18px;	
	cursor: pointer;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.6);
	opacity:.7;
	position: relative;
	
	}
}
.activeTabListItem,.tabListItem{
list-style-type:none ;
padding:6px 12px;

}
.activeTabListItem{
	
	position: relative;
	&:after{
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		background-color: inherit;
		background: rgb(102, 187, 255);
		bottom:0px;
		left:0;

	}
}
.tabsContent{
	transition: all .3s ease-in-out;
}