.table{
	width: 100%;
	border-color: gray;

	thead{
		tr{
			width:100%;
			background: linear-gradient(90deg, rgba(20, 255, 212, 0.09) 2%, rgba(46, 160, 214, 0.26) 27%, rgba(5, 181, 249, 0.04) 80%);
		
		}
		th{
			color: rgba(255, 255, 255, 0.6);
			font-weight: 600;
				padding:10px 0;
				font-size: 13px;
				padding-left: 5px;
				width: 100%;
			width:100%;
			cursor: pointer;
			&:nth-child(1){
				max-width: 592px;
			}
			&:nth-child(2){
				max-width: 300px;
			}
			&:nth-child(3){
				max-width: 300px;
			}
		}
	}
	tr{
		display: flex;
		&:not(:last-child){
			border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
		}
	}
	td{
		color: rgba(255, 255, 255, 0.6);
		font-weight: 600;
			padding:10px 0;
			font-size: 12px;
			padding-left: 5px;
			width: 100%;
			.wrapper, .hero{
				width:100%;
				max-width: 80%;
			}
		&:nth-child(1){
			max-width: 592px;
		}
		&:nth-child(2){
			max-width: 300px;
		}
		&:nth-child(3){
			max-width: 300px;
		}
		display: flex;
		align-items: center;
		width:100%;
		.hero{
			display: flex;
		}
		img{
			width:50px;
			height:28px;
			margin-right: 10px;

		}
		svg{
			display: inline-block;
color: rgb(102, 187, 255);
fill: currentcolor;
height: 16px;
width: 16px;
user-select: none;
transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
vertical-align: text-bottom;
opacity: 0.6;
		}
	}
	.link{
		text-decoration: none;
		color: rgb(102, 187, 255);
	}
	
}