.wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.zag{
		display: flex;
		align-items: center;
		padding:6px 4px;
		text-transform: uppercase;
		h4{
			margin-right: 4px;
			font-size:16px;
			color:white;
			
		}
		span{
			font-size: 12px;
			color: rgba(255,255,255,0.6);
		}
	}
	.more{
		color:white;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 12px;
		svg{
			width:13px;
				height: 13px;
				margin-right: 5px;
			path{
				
				fill:white;
			}
		}
	}
}