

.title{
	font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.87);
	padding: 10px 0;
    }
.table{
	width:100%;
	.row{
		justify-content: space-between;
		display: flex;
	}
	.col{
		height:38px;
		display: flex;
		align-items: center;
		width:100%;
		
	&:nth-child(1){
		max-width: 270px;
	}
	&:nth-child(2){
		max-width: 700px;
	}
	&:nth-child(3){
		max-width: 256px;
	}
	}
	.td{
		color: rgba(255, 255, 255, 0.6);
		font-weight: 600;
			
			font-size: 12px;
			padding-left: 5px;
			width: 100%;
			
	}
	.top{
		background: linear-gradient(90deg, rgba(20, 255, 212, 0.09) 2%, rgba(46, 160, 214, 0.26) 27%, rgba(5, 181, 249, 0.04) 80%);
		div{
			
			text-transform: uppercase;
			
		}
	}
	.player{
		display: flex;
		align-items: center;
		cursor: pointer;
		img{
			margin-right: 7px;
		}
		.text{
			display: flex;
			flex-direction: column;
			.rank{
				font-weight: 400;
			}
			.name{
				color: rgb(102, 187, 255);
				display:flex;
				align-items: center;
				svg{
					display: inline-block;
    color: rgb(102, 187, 255);
    fill: currentcolor;
    height: 16px;
    width: 16px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    vertical-align: text-bottom;
    opacity: 0.6;
				}
			}
		}
	}
	.wraper{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.scale{
		background-color: rgb(114, 114, 114);
		width:100%;
		height: 3PX;

	}
}